APP_PORT=2283

UPLOAD_LOCATION=/data/compose/immich/library
DB_DATA_LOCATION=/data/compose/immich/postgres

TZ=Etc/UTC
IMMICH_VERSION=release

DB_PASSWORD=change-this-immich-password
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
