APP_PORT=8000

POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=change-this-paperless-db-password

PAPERLESS_SECRET_KEY=change-this-to-a-long-random-secret
PAPERLESS_URL=http://localhost:8000
PAPERLESS_TIME_ZONE=Etc/UTC
PAPERLESS_OCR_LANGUAGE=eng
