BASE_PATH=/data/compose/authentik

COMPOSE_PORT_HTTP=9000
COMPOSE_PORT_HTTPS=9443

AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2026.5.3
AUTHENTIK_SECRET_KEY=change-this-to-a-long-random-secret
AUTHENTIK_ERROR_REPORTING__ENABLED=false

PG_DB=authentik
PG_USER=authentik
PG_PASS=change-this-postgres-password
