APP_PORT=6875
BASE_PATH=/data/compose/bookstack

PUID=1000
PGID=1000
TZ=Etc/UTC

APP_URL=http://localhost:6875
APP_KEY=base64:HD6NrT00UL6NUtUU51uZae7K1aeQ5SDNWw5FSC7qS7g=

MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=bookstack
MYSQL_USER=bookstack
MYSQL_PASSWORD=change-this-bookstack-password
